/* GENERIC */

$header-blue: #78BCE8;
$background_gray: #D0D0D0;
$background_light_gray: #E0E0E0;

.float_left {
	float: left;
}
.float_right {
	float: right;
}
.clear_both {
	clear:both;
}
.clear_after {
	content: " ";
	display: table;
	clear: both;
}
.pad_all_sides {
	padding: 0.25em;
}

.pad_3_sides {
	padding: 0.25em 0.25em 0 0.25em; //top, rt, bottom, lt
}
.pad_4_back_color {
	padding: 0.25em; //top, rt, bottom, lt
	background-color: $background_light_gray;
}
.highest_level_blue_background {
	background-color: $header-blue;
}
.centered {
	margin: 0.25em auto 0 auto
}


/* _HEADER PARTIAL  */
.header {
	background-color: $header-blue;
}