<div id="divMxAssessPageWrapper">
<div id="divMxAssessPageInnerWrapper">


  <div id="divTitle">Patient Management Assessment</div>


  <div id="divMxAssessLtContainer">
    <div id="divMxAssessLtTop">
      <h3>Choose Ward and Meeting Date</h3>
      <select id="slt_MxA_ward" name="slt_MxA_ward"></select>
      <label for="dt_new_date" class="label">New Date</label>
      <input type="text" id="dt_new_date" name="dt_new_date">
      <label for="slt_MxA_date_history" class="label">Date History</label>
      <select id="slt_MxA_date_history" name="slt_MxA_date_history"></select>
    </div>
    <div id="divMxAssessLtMiddle">
      <div id="divMxAssessToDo">
        <div><h3>To Do</h3></div>
        <select id="slt_MxA_to_do"></select>
      </div>
      <div id="divMxAssessDone">
        <div><h3>Done</h3></div>
        <select id="slt_MxA_done"></select>
      </div>
    </div>
    <div id="divMxAssessLtBottom">
      <div>
        <h3>Past Management Assessments
        <input type="button" id="btTogNotes"></input>
        </h3>
      </div>
      <textarea id="txa_past_MxAssessments" name="txa_past_MxAssessments"></textarea>
    </div>
  </div>

  <div id="divMxAssessRtContainer">
    Right Container
  </div>

</div>  <!-- id="divMxAssessPageInnerWrapper" -->
</div>  <!-- id="divMxAssessPageWrapper" -->
