<div id="divMxAssessPageWrapper">
<div id="divMxAssessPageInnerWrapper" class="mx_assessment_index">

<div id="grid_WHOLE PAGE" class="grid">

  <div id="divTitle">Patient Bio-psycho-social Management Assessment</div>

  <div id="grid_LeftContainer" class="col-1-2">
    <div class="form_container">

      <!-- <div id="divMxAssessLtTop"> -->
      <div id="grid_LtTop" class="grid">
        <h3>Choose Ward and Meeting Date</h3>
        <div class="col-1-3">
          <select id="slt_MxA_ward" name="slt_MxA_ward"></select>
        </div>
        <div class="col-1-3">
          <label for="dt_new_date" class="label">New Date</label>
          <input type="text" id="dt_new_date" name="dt_new_date">
        </div>
        <div class="col-1-3">
          <label for="slt_MxA_date_history" class="label">Date History</label>
          <select id="slt_MxA_date_history" name="slt_MxA_date_history"></select>
        </div>      
      </div>

      <div id="grid_LtMiddle" class="grid">
        <div id="grid_ToDo" class="col-1-2">
          <div><h3>To Do</h3></div>
          <select id="slt_MxA_to_do"></select>
        </div>
        <div id="grid_Done" class="col-1-2">
          <div><h3>Done</h3></div>
          <select id="slt_MxA_done"></select>
        </div>
      </div>

      <div id="grid_LtBottom" class="grid">
        <div class="col-1">
          <div>
            <h3>Past Management Assessments
            <input type="button" id="btTogNotes"></input>
            </h3>
          </div>
          <div>
              <textarea id="txa_past_MxAssessments" name="txa_past_MxAssessments"></textarea>
          </div>
        </div>
      </div> <!-- <div id="grid_LtBottom" class="grid"> -->

    </div>  <!-- class = "form_container" -->
  </div>  <!-- <div id="grid_LeftContainer" class="col-1-2"> -->

  <div id="grid_RightContainer" class="col-1-2">
    <div class="form_container">
      <div>
        Patient Name  Number  Ward
      </div>

      <div id="divTextAreaHeader11">
        <span class="text-14-bold">
          Is Patient a danger to self/other, if in approved housing?
        </span>
        <label>Yes<input type="radio" name="radioDanger" id="radioDangerYes" value="Y" /></label>
        <label>No<input type="radio" name="radioDanger" id="radioDangerNo" value="N" /></label>
      </div>    
      
      <div> 
        <!--YES Still Dangerous--> 
        <div id="divDangerYes1">
          <span class="text-12-bold">
            (i)When was medication for Axis I/II Dx last changed?
          </span>        
          <select name="selectTimeDrugs" id="selectTimeDrugs" ></select>
        </div>
          <div id="divDangerYes1YesChange">
            <span class="text-12">
              What Medication change was made for AxisI/II and WHY?
            </span>
            <input type="button" id ="bTogDrugWhyChange" value="Tog">
            <input type="button" id ="bHistDrugWhyChange" value="Hist">
            <div>
                <textarea id="textAreaDrugWhyChange" name="textAreaDrugWhyChange"></textarea>
            </div>
          </div>
        <div id="divDangerYes1Yes">
          <span class="text-12">
            Why No Change in Medication for AxisI or II disorder(s)?
          </span>
          <input type="button" id ="bTogDrugNoChange" value="Tog">
          <input type="button" id ="bHistDrugNoChange" value="Hist">
          <div>
            <textarea id="textAreaDrugNoChange" name="textAreaDrugNoChange"></textarea>
          </div>
        </div>

        <div id="divDangerYes2">
          <span class="text-12-bold">
            (ii)When was group/indiv Tx for Axis I/II Dx last changed?
          </span>   
          <select name="selectTimeGroups" id="selectTimeGroups" ></select>
        </div>
        <div id="divDangerYes2YesChange">
          <span class="text-12">
            What change was made in Group/Individual therapy for Axis1 or II disorder(s)?
          </span>
          <input type="button" id ="bTogGroupChange" value="Tog">
          <input type="button" id ="bHistGroupChange" value="Hist">
          <div>
            <textarea id="textAreaGroupNoChange" name="textAreaGroupNoChange"></textarea>
          </div>        
        </div>
        <div id="divDangerYes2Yes">
          <span class="text-12">
            Why No Change in Group/Individual therapy for Axis1 or II disorder(s)?
          </span>
          <input type="button" id ="bTogGroupNoChange" value="Tog">
          <input type="button" id ="bHistGroupNoChange" value="Hist">
          <div>
            <textarea id="textAreaGroupNoChange" name="textAreaGroupNoChange"></textarea>
          </div>        
        </div>
        

        <!--NO Not Dangerous-->
        <div id="divDangerNo1"> 
          <div>
            <span class="text-12">
              Has date been set for Pre-Conference Meeting?
            </span>
           <label>Yes<input type="radio" name="radioPreDate" id="radioPreDateYes" value="Y" /></label>
           <label>No<input type="radio" name="radioPreDate" id="radioPreDateNo" value="N" /></label>

          </div>
          <!--YES Pre Date Set--> 
          <div id="divDangerNo1No">
              <label>Date: <input type="text"  id="datePreMeeting" name="datePreMeeting" style="width:90px"/></label>
          </div>
           <!--No Pre Date Not Set--> 
          <div id="divDangerNo1Yes">
            <span class="text-12">
              Why has Pre-date not been set?
            </span>
            <input type="button" id ="bTogNoPreDate" value="Tog">
            <input type="button" id ="bHistNoPreDate" value="Hist">
              <div class="LtFloatOnly_g">
                <textarea id="textAreaNoPreDate" name="textAreaNoPreDate"></textarea>
              </div>
          </div>                  
        </div> 
    </div> <!-- class="form_container" -->
  </div> <!-- <div id="grid_RightContainer" class="col-1-2"> -->


</div>  <!-- <div id="GRID-WHOLE PAGE" class="grid"> -->

</div>  <!-- id="divMxAssessPageInnerWrapper" -->
</div>  <!-- id="divMxAssessPageWrapper" -->

 

