<div id="divMxAssessPageWrapper">
<div id="divMxAssessPageInnerWrapper" class="mx_assessment_index">

<!-- <div id="divFacility" data-facility="<%#= session[:facility] %>" ></div> -->

<div id="grid_WHOLE PAGE" class="grid">

  <div id="divTitle">Patient bio-psycho-social (BPS) Management Assessment</div>

  <div id="grid_LeftContainer" class="col-1-2">
    <form id="f_MxA_leftContainer" class="form_container">

      <!-- <div id="divMxAssessLtTop"> -->
      <div id="grid_LtTop" class="grid">
        <h3>Choose Ward and Meeting Date</h3>
        <div class="text_align_center">
          <select id="slt_MxA_ward" name="slt_MxA_ward" class="rt_margin_10"></select>
          <label for="dt_MxA_newDate" class="label">New Date</label>
          <input type="text" id="dt_MxA_newDate" name="new_date" class="rt_margin_10">
          <label for="slt_MxA_date_history" class="label">Date History</label>
          <select id="slt_MxA_date_history" name="date_history"></select>
        </div>  
      </div>

      <div id="grid_LtMiddle" class="grid">
        <div id="grid_ToDo" class="col-1-2">
          <div><h3>To Do</h3></div>
          <select id="slt_MxA_to_do"></select>
        </div>
        <div id="grid_Done" class="col-1-2">
          <div><h3>Done</h3></div>
          <select id="slt_MxA_done"></select>
        </div>
      </div>

      <div id="grid_LtBottom" class="grid">
        <div class="col-1">
          <div>
            <h3>Past Management Assessments
            <input type="button" id="bt_MxA_TogNotes" value="tog"></input>
            </h3>
          </div>
          <div class="spacer_vertical_small">
              <textarea id="txa_MxA_pastAssessments" name="txa_MxA_pastAssessments"></textarea>
          </div>
        </div>
      </div> <!-- <div id="grid_LtBottom" class="grid"> -->

    </form>  <!-- class = "form_container" -->
  </div>  <!-- <div id="grid_LeftContainer" class="col-1-2"> -->

  <div id="grid_MxA_RightContainer" class="col-1-2">
    <form id="f_MxA_rightContainer" class="form_container">
      <div id="div_MxA_patient_identification">
        <span id="sp_MxA_pat_name" class="text-14-bold"></span>
        <span id="sp_MxA_pat_details" class="text-12"></span>
        <span id="sp_MxA_days_in_hospital" class="text-14-alert"></span>
      </div>

      <div id="div_MxA_dangerQuestion" class="spacer_vertical_small">
        <span class="text-14-bold">
          Is Patient a danger to self/other, if in approved housing?
        </span>
        <select name="danger_yn" id="slt_MxA_danger_yn"></select>
      </div>    
       
        <!--YES Still Dangerous--> 
        <div id="div_MxA_dangerYes_drug" class="spacer_vertical_small">
          <span class="text-12-bold">
            (i)When was medication for Axis I/II Dx last changed?
          </span>        
          <select name="drugs_last_changed" id="slt_Mxa_drugsChanged"></select>
        </div>
        <div id="div_MxA_dangerYes_drugYes" class="spacer_vertical_small">
          <span class="text-12">
            What Medication change was made for AxisI/II and WHY?
          </span>
          <input type="button" id ="bt_MxA_togDrugWhyChange" value="tog">
          <!-- <input type="button" id ="bt_MxA_histDrugWhyChange" value="Hist"> -->
          <div class="spacer_vertical_small">
              <textarea id="txa_MxA_drugWhyChange"></textarea>
          </div>
        </div>
        <div id="div_MxA_dangerYes_drugNo" class="spacer_vertical_small">
          <span class="text-12">
            Why No Change in Medication for AxisI or II disorder(s)?
          </span>
          <input type="button" id ="bt_MxA_togDrugNoChange" value="tog">
          <!-- <input type="button" id ="bt_MxA_histDrugNoChange" value="Hist"> -->
          <div class="spacer_vertical_small">
            <textarea id="txa_MxA_drugNoChange"></textarea>
          </div>
        </div>

        <div id="div_MxA_dangerYes_group" class="spacer_vertical_small">
          <span class="text-12-bold">
            (ii)When was group/indiv Tx for Axis I/II Dx last changed?
          </span>   
          <select name="psychsoc_last_changed" id="slt_Mxa_groupChanged" ></select>
        </div>
        <div id="div_MxA_dangerYes_groupYes" class="spacer_vertical_small">
          <span class="text-12">
            What change was made in Group/Individual therapy for Axis1 or II disorder(s)?
          </span>
          <input type="button" id ="bt_MxA_togGroupChange" value="tog">
          <!-- <input type="button" id ="bt_MxA_histGroupChange" value="Hist"> -->
          <div class="spacer_vertical_small">
            <textarea id="txa_MxA_groupWhyChange"></textarea>
          </div>        
        </div>
        <div id="div_MxA_dangerYes_groupNo" class="spacer_vertical_small">
          <span class="text-12">
            Why No Change in Group/Individual therapy for Axis1 or II disorder(s)?
          </span>
          <input type="button" id ="bt_MxA_togGroupNoChange" value="tog">
          <!-- <input type="button" id ="bt_MxA_histGroupNoChange" value="Hist"> -->
          <div class="spacer_vertical_small">
            <textarea id="txa_MxA_groupNoChange"></textarea>
          </div>        
        </div>
        

        <!--NO Not Dangerous-->
        <div id="div_MxA_dangerNo_date"> 
          <div class="spacer_vertical_small">
            <span class="text-12">
              Has date been set for Pre-Conference Meeting?
            </span>
            <select id="slt_MxA_pre_date_yesno" name="pre_date_yesno"></select>

          </div>
          <!--YES Pre Date Set--> 
          <div id="div_MxA_dangerNo_dateYes" class="spacer_vertical_small">
              <label>Date: <input type="text"  id="dt_MxA_preMeeting" name="pre_date" style="width:90px"/></label>
          </div>
           <!--No Pre Date Not Set--> 
          <div id="div_MxA_dangerNo_dateNo" class="spacer_vertical_small">
            <span class="text-12">
              Why has Pre-date not been set?
            </span>
            <input type="button" id ="bt_MxA_togPreDateNo" value="tog">
            <!-- <input type="button" id ="bt_MxA_histPreDateNo" value="Hist"> -->
              <div class="spacer_vertical_small">
                <textarea id="txa_MxA_PreDateNo"></textarea>
              </div>
          </div>                  
        </div> 
      <div id="div_MxA_saveButtons" class="spacer_vertical_small">
        <input id="bt_MxA_save" type="button" value="Save">
        <input id="bt_MxA_update" type="button" value="Update">
        <input id="bt_MxA_back" type="button" value="Back">
        <input id="bt_MxA_delete" type="button" value="Delete">
      </div>
      <div class="success_message" id="div_MxA_save_message"></div>
    </form> <!-- class="form_container" -->
  </div> <!-- <div id="grid_RightContainer" class="col-1-2"> -->

<!-- Hidden inputs containing values -->
<input id="hide_mx_assessment_id" class="hidden"></input>

</div>  <!-- <div id="GRID-WHOLE PAGE" class="grid"> -->

</div>  <!-- id="divMxAssessPageInnerWrapper" -->
</div>  <!-- id="divMxAssessPageWrapper" -->

 

