
<div id="divForSelectPageWrapper">
<div id="divForSelectPageInnerWrapper">

  <div id="divForSelectAsideRt">  
    <div id="ForSelectAsideRtTitle"><h2>For Selects Data</h2></div>
    <div id="ForSelectAsideRtErrors"></div>  
    <form id="fForSelectAsideRt">
      <fieldset>
        <input id="id" type="hidden" name="id" />
        <div class="field"> 
          <label for="facility" class="label">facility</label>      
          <select id="slt_for_select_Rt_facility" name="slt_for_select_Rt_facility"></select>          
        </div>
        <div class="field">
          <label for="ftx_for_select_Rt_code" class="label">Code</label>
          <input id="ftx_for_select_Rt_code" name="ftx_for_select_Rt_code" type="text"/>
        </div>         
        <div class="field">
          <label for="ftx_for_select_value" class="label">Value</label>
          <input id="ftx_for_select_Rt_value" name="ftx_for_select_Rt_value" type="text" />    
        </div>
        <div class="field">
          <label for="ftx_for_select_text" class="label">Text</label>
          <input id="ftx_for_select_Rt_text" name="ftx_for_select_Rt_text" type="text" />    
        </div>
        <div class="field">
          <label for="ftx_for_select_grouper" class="label">Grouper</label>
          <input id="ftx_for_select_Rt_grouper" name="ftx_for_select_Rt_grouper" type="text" />    
        </div>
        <div class="field">
          <label for="ftx_for_select_option_order" class="label">Order</label>
          <input id="ftx_for_select_option_order" name="ftx_for_select_option_order" type="text" />    
        </div>
        <div>
          <input id="b_for_select_Rt_Submit" type="submit" value="x">
          <input id="b_for_select_Rt_Back" type="button" value="Back">
        </div>
      </fieldset>         
    </form>  
  </div>  <!-- id="divForSelectAsideRt" -->

  <form id="fForSelectSearch">   
    <div id="ForSelectSearchTitle"><h2>Search Criteria</h2></div> 
    <div class="field">
      <label>Facility</label>
      <select id="slt_for_selects_S_facility" name="slt_for_selects_S_facility"></select>
    </div>
    <div class="field">
      <label>Value</label>
      <input id="ftx_for_selects_S_value" type="text" />             
    </div>
    <div class="field"> 
      <label>Grouper</label>      
      <input id="ftx_for_selects_S_grouper" type="text" />        
    </div>
    <div class="field">
      <label>Code</label>
      <input id="ftx_for_selects_S_code" type="text" />                
    </div>
    <div class="field">
      <label>Text</label>
      <input id="ftx_for_selects_S_text" type="text" />          
    </div>
    <div class="field"> 
      <label>Option order</label>
      <input id="ftx_for_selects_S_option_order" type="text" />
    </div>
    <input id="b_for_selects_select" type="submit" value="Search" />  
  </form>  <!-- id="fForSelectSearch" -->
  <div id="divGrid_for_selects"></div>



  <section id="divBelow">
    BELOW
  </section>
  
</div> <!-- id="divForSelectPageInnerWrapper" -->
</div> <!-- id="divForSelectPageWrapper" -->






