<div id="dbxModalDialog" title="Basic dialog">
  <p>This is a modal dialog box</p>
</div>
<div id="dbxDialogConfirm" title="Empty the recycle bin?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<h1>StaticPages#home</h1>
<p>
	Dialogs: <br>
	<input id="btModalDialog" class="button" type="button" value="ModalDialog">
	<input id="btDialogConfirm" type="button" value="Confirm">
</p>
<p>
	Dates <br>
	<input id="dtDate1" type="text">
</p>
<p>
	Buttons <br>
	<input id="btButton1" type="button" value="Button1">
</p>
<p>
	Text Input <br>
	<input id="txtText1" type="text">Input</input>
</p>
<p>
	Input long text
</p>

        
