<div id="divUserPageWrapper">
<div id="divUserPageInnerWrapper">

  <div id="divUserAsideRt">
    <div id="UserAsideRtTitle"><h2>User Data</h2></div>
      <fieldset>
        <input id="id" type="hidden" name="id" />
        <div class="field"> 
          <label for="facility" class="label">facility</label>      
          <select id="slt_user_Rt_facility" name="slt_user_Rt_facility"></select>          
        </div>
        <div class="field">
          <label for="ftx_user_Rt_firstname" class="label">FirstName</label>
          <input id="ftx_user_Rt_firstname" name="ftx_user_Rt_firstname" type="text"/>
        </div>         
        <div class="field">
          <label for="ftx_user_lastname" class="label">LastName</label>
          <input id="ftx_user_Rt_lastname" name="ftx_user_Rt_lastname" type="text" />    
        </div>
        <div class="field">
          <label for="ftx_user_authen" class="label">Authen</label>
          <input id="ftx_user_Rt_authen" name="ftx_user_Rt_authen" type="text" />    
        </div>
        <div class="field">
          <label for="ftx_user_email" class="label">eMail</label>
          <input id="ftx_user_Rt_email" name="ftx_user_Rt_email" type="text" />    
        </div>
        <div class="field">
          <label for="ftx_user_Rt_firstinitial" class="label">FirstInitial</label>
          <input id="ftx_user_Rt_firstinitial" name="ftx_user_Rt_firstinitial" type="text" />    
        </div>
        <div class="field">
          <label for="ftx_user_Rt_middleinitial" class="label">MiddleInitial</label>
          <input id="ftx_user_Rt_middleinitial" name="ftx_user_Rt_middleinitial" type="text" />    
        </div>
        <div>
          <input id="b_user_Rt_Submit" type="submit" value="x">
          <input id="b_user_Rt_Back" type="button" value="Back">
        </div>

      </fieldset>
    <div id="UserAsideRtErrors"></div>  
  </div>  <!-- id="divUserAsideRt" -->


  <form id="fUserSearch">
    <div id="UserSearchTitle"><h2>Search Criteria</h2></div> 
    <div class="field">
      <label>Facility</label>
      <select id="slt_user_S_facility" name="slt_user_S_facility"></select>
    </div>
    <div class="field">
      <label>FirstName</label>
      <input id="ftx_user_S_firstname" type="text" />             
    </div>
    <div class="field"> 
      <label>LastName</label>      
      <input id="ftx_user_S_lastname" type="text" />        
    </div>
    <div class="field">
      <label>Authen</label>
      <input id="ftx_user_S_authen" type="text" />                
    </div>
    <div class="field">
      <label>eMail</label>
      <input id="ftx_user_S_email" type="text" />          
    </div>
    <div class="field"> 
      <label>FirstInit</label>
      <input id="ftx_user_S_firstinitial" type="text" />
    </div>
    <div class="field"> 
      <label>MidInit</label>
      <input id="ftx_user_S_middleinitial" type="text" />
    </div>
    <input id="b_user_select" type="submit" value="Search" /> 
  </form> <!-- id="fUserSearch" -->
  <div id="divUserGrid"></div>


  <section id="divBelow">
    BELOW
  </section>

</div> <!-- id="divUserPageWrapper" -->
</div> <!-- id="divUserPageInnerWrapper" -->

