<div id="divUserPageWrapper">
<div id="divUserPageInnerWrapper">

  <div id="divUserAsideRt">
  </div>  <!-- id="divUserAsideRt" -->


  <form id="fUserSearch">
    <div id="UserSearchTitle"><h2>Search Criteria</h2></div> 
    <div class="field">
      <label>Facility</label>
      <select id="slt_user_S_facility" name="slt_user_S_facility"></select>
    </div>
    <div class="field">
      <label>FirstName</label>
      <input id="ftx_user_S_firstname" type="text" />             
    </div>
    <div class="field"> 
      <label>LastName</label>      
      <input id="ftx_user_S_lastname" type="text" />        
    </div>
    <div class="field">
      <label>Authen</label>
      <input id="ftx_user_S_authen" type="text" />                
    </div>
    <div class="field">
      <label>eMail</label>
      <input id="ftx_user_S_email" type="text" />          
    </div>
    <div class="field"> 
      <label>FirstInit</label>
      <input id="ftx_user_S_firstinitial" type="text" />
    </div>
    <div class="field"> 
      <label>MidInit</label>
      <input id="ftx_user_S_middleinitial" type="text" />
    </div>
    <input id="b_user_select" type="submit" value="Search" /> 
  </form> <!-- id="fUserSearch" -->
  <div id="divUserGrid"></div>


  <section id="divBelow">
    BELOW
  </section>

</div> <!-- id="divUserPageWrapper" -->
</div> <!-- id="divUserPageInnerWrapper" -->

