<div id="divMxAWPageWrapper">
<div id="divMxAWPageInnerWrapper" align="center">

	<div id="div_MxAWTitle">
		TRACKER FOR: Patient bio-psycho-social (BPS) Management Assessment
	</div>
	<div id="div_MxAW_uppercontainer">
		<form id="fMxAWsearch">
			<div><h2>Search Criteria</h2></div>
			<div id="div_MxAW_searchGrid" class="grid">
				<div class="col-1-4">
					<div>
						<select name="site" id="slt_MxAW_Ward"></select>
					</div>
					<div class="spacer_vertical_small">
						<select id="slt_MxAW_Patient"></select>
					</div>
					<div class="spacer_vertical_small">
						<select id="slt_MxAW_AllLatestNote"></select><span class="text-14-alert">*</span>
					</div>
					<div>* must select</div>
				</div>
				<div class="col-1-4">
					<div>
						<select name="danger_yn" id="slt_MxAW_danger_yn"></select>
					</div>
					<div class="spacer_vertical_small">
						<select name="drugs_last_changed" id="slt_MxAW_drugsChanged"></select>
					</div>
					<div class="spacer_vertical_small">
						<select name="psychsoc_last_changed" id="slt_MxAW_groupChanged" ></select>
					</div>
					<div class="spacer_vertical_small">
						<select name="pre_date_yesno" id="slt_MxAW_preDateYesNo" ></select>
					</div>
				</div>
				<div class="col-1-2 align_right">
					<div>
						<label for="dt_MxAW_meetingAfter">Meeting after</label>
						<input type="text" id="dt_MxAW_meetingAfter">
						<label for="dt_MxAW_meetingBefore">before</label>
						<input type="text" id="dt_MxAW_meetingBefore">
					</div>
					<div class="spacer_vertical_small">
						<label for="dt_MxAW_preAfter">Pre after</label>
						<input type="text" id="dt_MxAW_preAfter">
						<label for="dt_MxAW_preBefore">before</label>
						<input type="text" id="dt_MxAW_preBefore">
					</div>
					<div class="spacer_vertical_small">
						<label for="dt_MxAW_doaAfter">DOA after</label>
						<input type="text" id="dt_MxAW_doaAfter">
						<label for="dt_MxAW_doaBefore">before</label>
						<input type="text" id="dt_MxAW_doaBefore">
					</div>
					<input id="bt_MxAW_search_select" type="submit" value="Search" /> 
				</div>
				
			</div>
		</form> <!-- <form id="fMxAWsearch"> -->
		<div id="div_MxAGrid" align="center"></div>
		
	</div>
	<div id="div_MxAW_lowercontainer" class="spacer_vertical_medium">
		<form id="fMxAW_pat_info">
			<input type="text" id="txt_MxAW_PatientID" name="patient_id">
			<div><h2>Patient Information</h2></div>
			<div id="div_MxAw_patInfoGrid" class="grid">
				<div class="col-1-2" >
					<div>
						<h3>Past Management Asssessments
						<input type="button" id="bt_MxAW_TogNotes" value="tog"></input>
						</h3>
					</div>
					<div class="spacer_vertical_small">
						<textarea id="txa_MxAW_pastAssessments"></textarea>
					</div>				
				</div>
				<div class="col-1-2">
					<div>
						<select id="slt_MxAWinfo_ChooseInfo"></select>
						<input type="button" id="bt_MxAW_TogChoseInfo" value="tog"></input>
					</div>
					<div class="spacer_vertical_small">
						<textarea id="txa_MxAW_specificAssessments"></textarea>
					</div>
				</div>
			</div>
			
		</form>
	</div>
	




</div>  <!-- id="divMxAWPageInnerWrapper" -->
</div>  <!-- id="divMxAWPageWrapper" -->
