
<div id="widgetPageWrapper">
	<div id="dbxModalDialog" title="Basic dialog">
	  <p>This is a modal dialog box</p>
	</div>
	<div id="dbxDialogConfirm" title="Empty the recycle bin?">
	  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
	</div>

	<p>
		Dialogs: <br>
		<input id="btModalDialog" class="button" type="button" value="ModalDialog">
		<input id="btDialogConfirm" type="button" value="Confirm">
	</p>
	<p>
		Dates <br>
		<input id="dtDate1" type="text">
	</p>
	<p>
		Buttons <br>
		<input id="btButton1" type="button" value="Button1">
	</p>
	<p>
		Text Input <br>
		<input id="txbText1" type="text">Input</input>
	</p>
	<p>
		TextArea <br>
		<textarea id="txaTextArea1" name="txaTextArea1"></textarea>
	</p>
	<p>
		Selects: <br>
		<label for="files">Select a file</label>
	    <select id="sltSelect1" name="sltSelect1">
	      <optgroup label="Scripts">
	        <option value="jquery">jQuery.js</option>
	        <option value="jqueryui">ui.jQuery.js</option>
	      </optgroup>
	      <optgroup label="Other files">
	        <option value="somefile">Some unknown file</option>
	        <option value="someotherfile">Some other file with a very long option text</option>
	      </optgroup>
	    </select>
	</p>

	<form id="fForm1">
		<div id="fTitle"><h2>Sign up</h2></div>
		<div class="field">
			<label>Name</label>
			<input id="fNameField" type="text" name="fNameField" />
		</div>
		<div class="field">
			<label>Email</label>
			<input id="fEmailField" type="text" name="fEmailField" />		
		</div>
		<!-- <br style="clear:both"> -->
		
		<div class="field">
			<label>Company</label>
			<input id="fNameField" type="text" name="fNameField" />
		</div>
		<div class="field">
			<label>VeryLongName</label>
			<input id="fEmailField" type="text" name="fEmailField" />		
		</div>
		<div id='selectField' class="field">
			<label>Select</label>
			<select id="sInField" type="text" name="sInField" class="select_base" style="width:80px" />		
		</div>
		

		<input id="bSubmit" type="submit" value="Submit" />

	</form>
	
	
</div>





        


