
<div id="divPatientPageWrapper">
<div id="divPatientPageInnerWrapper">

  <div id="divPatientAsideRt">
    <div id="PatientAsideRtTitle"><h2>Patient Data</h2></div>
    <div id="PatientAsideRtErrors"></div>       
    <form id="fPatientAsideRt">
      <fieldset>
        <input id="id" type="hidden" name="id" />
        <div class="field">
          <label for="firstname" class="label">first_name</label>
          <input id="firstname" name="firstname" type="text"/>
        </div>         
        <div class="field">
          <label for="lastname" class="label">last_name</label>
          <input id="lastname" name="lastname" type="text" />    
        </div>
        <div class="field">
          <label for="number" class="label">number</label>
          <input id="number" name="number" type="text" />            
        </div>
        <div class="field"> 
          <label for="facility" class="label">facility</label>      
          <input id="facility" name="facility" type="text" />          
        </div>
        <div class="field">   
          <label for="ward" class="label">ward</label>    
          <input id="ward" name="ward" type="text" />          
        </div>
        
        <div>
          <input id="bPatientSubmit" type="submit" value="x">
          <input id="bPatientBack" type="button" value="Back">
        </div>
      </fieldset>         
    </form>
  </div>
  <!-- <div> -->
    <form id="fPatientSearch">
      <div id="PatientSearchTitle"><h2>Search Criteria</h2></div>
      <div class="field">
        <label>first_name</label>
        <input id="ftx_S_Firstname" type="text" />                
      </div>
      <div class="field">
        <label>last_name</label>
        <input id="ftx_S_lastname" type="text" />             
      </div>
      <div class="field">
        <label>number</label>
        <input id="ftx_S_number" type="text" />          
      </div>
      <div class="field"> 
        <label>facility</label>      
        <select id="slt_S_facility" name="slt_S_facility"></select>        
      </div>
      <div class="field"> 
        <label>ward</label>
        <select id="slt_S_ward" name="slt_S_ward"></select>       
        <!-- <input id="ftx_S_ward" type="text" /> -->         
      </div>
      <input id="btnSubmit" type="submit" value="Search" />  
    </form>
    <div id="divGrid"></div>
  <!-- </div> -->







  <section id="divBelow">
    BELOW
  </section>

</div>  <!-- id="divPatientPageInnerWrapper" -->
</div>  <!-- id="divPatientPageWrapper" -->






