
<div id="divPatientPageWrapper">
<div id="divPatientPageInnerWrapper">
  


  <aside id="divPatientAsideRt">
    <div id="divPatientAsideRtPad">
      <div id="divFields">
        <div id="PatientAsideRtHeaderWrapper">
          <span id="spanPatientAsideRtHeader">Patient Data</span>
        </div>  
        <br style="clear:both">     
        <form id="fFields">
          <div class="field">
            <input id="id" type="hidden" />
          </div>
          <div class="field">
              <input id="firstname" type="text" />
              <label>first_name</label>      
          </div>         
          <div class="field">
              <input id="lastname" type="text" />
              <label>last_name</label>   
          </div>
          <div class="field">
            <input id="number" type="text" />
            <label>number</label>
          </div>
          <div class="field">       
            <input id="facility" type="text" />
            <label>facility</label>
          </div>
          <div class="field">       
            <input id="ward" type="text" />
            <label>ward</label>
          </div>
          <div id="divButtonEdit" class="actions">
              <input id="bEdit" type="button" value="Edit">
              <input id="bNew" type="button" value="New ">
              <input id="bDelete" type="button" value="Delete ">
              <input id="bBack" type="button" value="Back">
          </div>
      </div> 
    </div>
    
  </aside>


  <article id="divMain">
    <div id="divSearch">

      <div id="PatientFilterHeaderWrapper" >
        <span id="spanPatientFilterHeader">Search Criteria</span>
      </div>
      <br style="clear:both">
      <form id="fSearch" >
        <div style="float:left">
          <div class="field">
              <input id="s_firstname" type="text" />
              <label>first_name</label>      
          </div>
          <div class="field">
              <input id="s_lastname" type="text" />
              <label>last_name</label>    
          </div>      
        </div>
        <div style="float:left">
          <div class="field">
            <input id="s_number" type="text" />
            <label>number</label>
          </div>
          <div class="field">       
            <input id="s_facility" type="text" />
            <label>facility</label>
          </div>
        </div>
        <div class="field">       
          <input id="s_ward" type="text" />
          <label>ward</label>
        </div>
        <input id="bSearch" type="button" value="Search">

      </form>
    </div>
    <div id="divGrid"></div>  
  </article>
  <br style="clear:both" >


  <section id="divBelow">
    BELOW
  </section>

</div>
</div>






